

body {
	height: 100vh;
	background-size: 100vw;
	background-color: #fff;
}

.nav {
	padding: 2rem 0 0 45%;
	/*background-color: #fff;*/
}
.btn-primary {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}

.main {
	position: absolute;
	top: -7rem;
}
.main-logo {
	height: 70vh;
}

.info {
	padding: 6rem 0 0 4rem ;
}

.logo {
	width: 4rem;
    height: 4rem;
    position: relative;
}
.logo-tag {
	display: inline;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
}
.headline {
	font-family: 'Lato', sans-serif;
	font-size: 4rem;
	color: #1E102A;
	position: relative;
}

.motto {
	font-family: 'Raleway', sans-serif;
	font-size: 1.4rem;
	color: #180E05;
}

.btn {
	font-size: 1.3rem;
	font-family: 'Lato', sans-serif;
}

